.HomePage{

  .header-section{
    margin: 30px 0;
    text-align: center;
    .app-name{

    }
  }


  .team-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    div{

    }

  }
}